.about {
  display: flex;
  margin-top: 2rem;
  padding: 4rem;
  background-color: #fff;
  color: #4e4c4c;
  img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    
  }
  h2 {
    border-bottom: 1px solid #FE5018;
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    width: auto;
  }
  &_description {
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex: 3;
    &_skills {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      font-size: 0.9rem;
    }
    &_skills ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 280px);
      padding: 0px;
      margin: 0px 0px 0px;
      overflow: hidden;
    }
    &_skills li {
      position: relative;
      font-size: 18px;
    }
    &_skills li::before {
      content: "▰";
      color: #fe5018;
      margin-right: 0.5em;
      font-size: 14px;
      line-height: 3em;
    }
  }
}
