.about {
    background-color: #fff;
    color: #4e4c4c;
    margin-top: 2rem;
    padding: 2rem;
    justify-content: center;
    display: flex;   
    justify-content: space-evenly;
    &_description {
    align-items: center;
    justify-content: center;  
    padding: 8px;
    text-align: center;

    }
}